$beige: #c0bcb4;

html {overflow-x: hidden}
body { 
  overflow-x: hidden;

  height: 10000px;
}
.bg{
  height: 100vh;
  width: 100vw;
  background-image: url('/img/backgrpund.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  &::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 70px;
    background: linear-gradient(to top, #F8F8F4, transparent);
  }
}
header{
  font-family: 'kitahara_scriptregular';
  font-size: 3vw;
  a{
    color: black ;
  }
}

.earphone{
  position: absolute;
  left: 80%;
  top: -10%;
  height: 60%;
}
.car{
  position: absolute;
  height: 50%;
  top: 60%;
  left: 2%;
  z-index: 1;
}

@font-face {
  font-family: 'basics_serif_freeregular';
  src: url('/font/basics_serif_-_free-webfont.woff2') format('woff2'),
       url('/font/basics_serif_-_free-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'kitahara_scriptregular';
  src: url('/font/kitaharascript-webfont.woff2') format('woff2'),
       url('/font/kitaharascript-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
.title-container{
  margin-top: 7%;
  h1{
    color: rgb(95, 93, 93);
    font-size: calc(2vw + 4vh + 2vmin);
    font-family: 'basics_serif_freeregular';
    line-height: 8vw;
  }
}

.streamer{
  position: absolute;
  text-align: center;
  top: 79%;
  color: black;
  border: 2px $beige solid;
  transform: translateX(-200px);
  height: 100px;
  width: 200px;
  font-size: 150%;
  &::after{
    content: "";
    position: absolute;
    left: 201px;
    height: 2px;
    width: 40%;
    background: $beige;
    z-index: -1;
  }

}
.earphone{
  transform-origin: top left;
}

main{
  //background: #C5E8E3;
  background: #F8F8F4;
  width: 100vw;
  &::before{
    content: '';
    position: absolute;
    width: 100vw;
    height: 50px;
    background: linear-gradient(to bottom, #F8F8F4, transparent);
  }
  h2{
    color: $beige;
    font-size: calc(1vw + 1vh + 2vmin);
    font-family: 'basics_serif_freeregular';
    line-height: 5vw;
  }
}

.a{
  background: #000;
}
.bulb-img{
  max-width: 100%;
  height: 250px;
}

.clock-img{
  height: 300px;
}


.bounce-in-top {
	animation: bounce-in-top 1.7s ;
}
.bounce-in-top-2 {
	animation: bounce-in-top 2s ;
}
@keyframes bounce-in-top {
  0% {
    transform: translateY(-500px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}

.cubes-content{
  position: relative;
  min-width: 500px;
  width: 500px;
  height: 500px;
}
.cube-1{
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  height: 200px;
  z-index: 1;
}
.cube-2{
  left: 50%;
  top: 50%;
  position: absolute;
  height: 250px;
  transform: translate(15%,-70%);
}
.cube-3{
  left: 50%;
  top: 50%;
  position: absolute;
  height: 150px;
  z-index: 2;
  transform: translate(0%,-10%);
}
.conception{
  width: 50%;
}
.smiley{
  height: 200px;
  opacity: 0.9;
}

.section-more{
  /* background-image: url("/img/project.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom; */
  background: #F8F8F4;

  h3{
    padding-top: 50px;
    font-size: calc(2vw + 2vh + 2vmin);
    text-align: center;
  }
  .more{
    padding: 20px;
    display: flex;
    height: auto;
    overflow-x: scroll;
    cursor: grab;
    margin-top: 50px;
    &::-webkit-scrollbar { width: 0 }
    div{
      text-align: center;
      height: 100%;
      margin-left: 15px;
      img{
        border: 1px solid #c5e8e3;
        height: 400px;
        transition: 0.5s;
        &:hover{
          cursor: pointer;
          box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.75);
          -webkit-box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.75);
        }
      }
      p{
        margin-top: 20px;
        font-family: "mortal_waveregular";
        font-size: calc(0.1vw + 2vh + 2vmin);
      }
    }
  }
}

.shake{
  animation: shake 2s 5 ;
}
.rotate{
  animation: rotate 2s ;
}
.roll-in-right {
	animation: roll-in-right 1s ease-out both;
}

@keyframes rotate{
  0%{transform: rotate(0deg);}
  50%{transform: rotate(180deg);}
  100%{transform: rotate(360deg);}
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes roll-in-right {
  0% {
    transform: translateX(800px) rotate(540deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
